{% extends "shop/base.html" %}
{% load home_template_tags %}
{% block content %}
        <div class="container">
            
             <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand">Categories:</span>
    
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
    
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">All
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Shirts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sport wears</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Outwears</a>
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More Styles</a>
                  <div class="dropdown-menu dropdown-multicol2" style="width: 35em">
                    {% for style in styles %}
                    {% if forloop.counter|modulo:5 == 1 %}
                      <div class="dropdown-col" style="display:inline-block; width:32%">
                        <a class="dropdown-item" href="#">{{ style.description }}</a>
                    {% elif forloop.last or forloop.counter|modulo:5 == 0 %}
                      <a class="dropdown-item" href="#">{{ style.description }}</a>
                      </div>
                    {% else %}
                      <a class="dropdown-item" href="#">{{ style.description }}</a>
                    {% endif %}  
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More Clothing Type</a>
                    <div class="dropdown-menu dropdown-multicol2" style="width: 35em">
                      {% for type in types %}
                      {% if forloop.counter|modulo:5 == 1 %}
                        <div class="dropdown-col" style="display:inline-block; width:32%">
                          <a class="dropdown-item" href="#">{{ type.description }}</a>
                      {% elif forloop.last or forloop.counter|modulo:5 == 0 %}
                        <a class="dropdown-item" href="#">{{ type.description }}</a>
                        </div>
                      {% else %}
                        <a class="dropdown-item" href="#">{{ type.description }}</a>
                      {% endif %}  
                      {% endfor %}
                    </div>
                  </li>
    
              </ul>
              <!-- Links -->
    
              <form class="form-inline" method="get" action="{% url 'shop-home' %}">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" name="filter" value="{{filter}}" placeholder="Product Name/Style/Type" aria-label="Search">
                  <input class="form-control mr-sm-2" type="submit" name="search" value="search">
                </div>
              </form>
            </div>
            <!-- Collapsible content -->
    
          </nav>
          <!--/.Navbar-->
    
            
                <section class="text-center mb-4">

                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        
                        {% for product in products %}
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">
            
                        <!--Card-->
                        <div class="card">
                
                            <!--Card image-->
                            <div class="view overlay">
                            {% if product.has_images.all %}
                                {% with product.has_images.all|first as first_image %}
                                    <img src="{{ first_image.imagefile.url }}" class="card-img-top"
                                    alt="">
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                {% endwith %}
                            {% else %}
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                                alt="">
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            {% endif %}
                            <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                                alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a> -->
                            </div>
                            <!--Card image-->
            
                            <!--Card content-->
                            <div class="card-body text-center">
                            <!--Category & Title-->
                            <a href="" class="grey-text">
                                <h5>{{ product.product_style.description }}</h5>
                            </a>
                            <h5>
                                <strong>
                                <a href="{{ product.get_absolute_url }}" class="dark-grey-text">{{ product.name }}
                                    {% if product.is_new  %}
                                        <span class="badge badge-pill danger-color">NEW</span>
                                    {% endif %}
                                </a>
                                </strong>
                            </h5>
            
                            <h4 class="font-weight-bold blue-text">
                                <strong>{{ product.price }}</strong>
                            </h4>
            
                            </div>
                            <!--Card content-->
            
                        </div>
                        <!--Card-->
            
                        </div>
                        <!--Grid column-->
                        {% endfor %}
                    </div>
                    <!--Grid row-->
            
                    </section>
                    <!--Pagination-->

                    {% if is_paginated %}
                    <nav class="d-flex justify-content-center wow fadeIn">
                        <ul class="pagination pg-blue">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                    <!--Pagination-->
        </div>
{% endblock content %}