{% extends "shop/base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_product in object.order_products.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_product.product_variant.product.name }}</td>
            <td>{{ order_product.product_variant.product.price }}</td>
            <td>
                <a href="{% url 'remove-single-item-from-cart' order_product.product_variant.id %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_product.quantity }}
                <a href="{% url 'add-to-cart' order_product.product_variant.id %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            <!-- DISCOUNT PRICE FUTURE IMPLEMENTATION-->
            <!-- {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %} -->
                {{ order_product.get_total_item_price }}
            <a style='color: red;' href="{% url 'remove-from-cart' order_product.product_variant.id %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        <!--OBJECT COUPON FUTURE IMPLEMENTATION-->
        <!-- {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %} -->
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url "checkout" %}'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>
    {% if recommends %}
    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">
    
        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">People who buys these products also buys</h4>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      
      <div class="justify-content-center row wow fadeIn">

            {% for product in recommends %}
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">
    
                <!--Card image-->
                <div class="view overlay">
                {% if product.has_images.all %}
                    {% with product.has_images.all|first as first_image %}
                        <img src="{{ first_image.imagefile.url }}" class="card-img-top"
                        alt="">
                        <a href="{{ product.get_absolute_url }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    {% endwith %}
                {% else %}
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                    alt="">
                    <a href="{{ product.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                {% endif %}
                <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                    alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> -->
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                    <h5>{{ product.product_style.description }}</h5>
                </a>
                <h5>
                    <strong>
                    <a href="{{ product.get_absolute_url }}" class="dark-grey-text">{{ product.name }}
                        {% if product.is_new  %}
                            <span class="badge badge-pill danger-color">NEW</span>
                        {% endif %}
                    </a>
                    </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                    <strong>{{ product.price }}</strong>
                </h4>

                </div>
                <!--Card content-->

            </div>
            <!--Card-->

            </div>
            <!--Grid column-->
            {% endfor %}

      </div>
      <!--Grid row-->
      {% endif %}

    </div>
  </main>

{% endblock content %}